/node_modules
/public/hot
/public/storage
/public/uploads
/public/website
/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
pos.zip
/pos.zip
/vendor
composer.lock
.phpunit.result.cache
scale-backend
scale-simulator
Modules/*/node_modules
Modules/*/.lock
*.lock
packages
